[Unit]
Description=Oled power on and off

[Service]
Type=oneshot
ExecStart=/home/pi/pioled/boot.sh
ExecStop=echo "switch off oled"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
