[Unit]
Description=Oled power on and off

[Service]
Type=oneshot
ExecStart=cd /home/pi/pioled/ && node boot.js
ExecStop=echo "switch off oled"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
